Source: makedeb
Section: utils
Priority: optional
Maintainer: Antoni Aloy Torrens <aaloytorrens@gmail.com>
Build-Depends: debhelper, asciidoctor
Homepage: https://makedeb.org
Standards-Version: 4.7.0

Package: makedeb
Description: A simplicity-focused packaging tool for Debian archives
Architecture: all
Depends: apt, binutils, build-essential, curl, fakeroot, file, gettext, gawk, libarchive-tools, lsb-release, python3, python3-apt, zstd